/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


#myCarousel {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width: 100%;
}
/* Selector para definir estilos en .carousel-caption */
.carousel-caption {
  position: static !important;  /* Posicionar estaticamente el elemento*/
  padding: 0 !important;  /* Quitar los rellenos*/
  width: 80%; /* Que ocupe el 80% del ancho de su contenedor padre*/
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: inherit;
  object-fit: cover; /*Sentencia para que la imagen ocupe todo el ancho y no se distorsione*/  
}
.container-caption{
  width: 100%; 
  height: 100%;
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
  display: flex;
  align-items: center;
  justify-content: center;

}
.carousel-caption{
  animation: animation 1s .5s backwards;  /*Sentencia para correr la animación */  
}
/*Animación para mostrar el texto princial "carousel-caption" */
@keyframes animation {
  
  0%{
    transform: translateY(-150vh);
  }
}
/*Selector para impedir que las imagenes se redondeen*/
.col-lg-4 .rounded-circle{
  border-radius: 0 !important; 
}
  /*Selector definir los tamaños de la primea y ultima imagen*/
.col-lg-4:first-of-type img,
.col-lg-4:last-of-type img{
  width: 140px;
  height: 140px;
}
.col-md-5 img{
  border-radius: .5em; /*Sentencia para redondear los border de las imagenes*/  

}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
