nav, 
.offcanvas{
    background-color: #1e293b !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav > li:hover{
    background-color: darkblue;
} 
