<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/correos.css') }}">
    <title>Correo</title>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <img class="rounded-circle"
                src="https://us.123rf.com/450wm/zukiuki/zukiuki1805/zukiuki180502147/101758354-dise%C3%B1o-de-ilustraci%C3%B3n-del-s%C3%ADmbolo-de-llave-inglesa-de-logotipo-empresarial-icono-de-casa-y.jpg?ver=6"
                alt="Generic placeholder image" width="140" height="140">
        </div>
        <h2>Asunto: {{informacion.asunto}}</h2>
        <p> <strong>Mensaje:</strong>{{informacion.mensaje}}</p>
        <h3>Datos personales</h3>
        <p><strong>Enviado por :</strong>{{informacion.nombre}}</p>
        <p><strong>Correo enviado por:</strong> {{informacion.correo}}</p>
        <p><strong>celular:</strong> {{informacion.numero}}</p>
    </div>

    <footer class="container">
        <p class="float-right">{{informacion.tipo}}</p>
        <p>&copy; 2023 GESTIÓN DE SERVICIOS (ALBAÑIL, PLOMERO, CARPINTERO) ; <a
                href="https://www.minambiente.gov.co/politica-de-proteccion-de-datos-personales/">Privacy</a></p>
    </footer>
</body>

</html>