<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


  <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Login</title>

</head>

<body class="bg-info d-flex justify-content-center vh-100 body">

  <div id="login" class="bg-white p-5 rounded-5 text-secondary shadow d-flex flex-column align-items-center justify-content-center mx-auto" 
  style="width: 32rem; height:40rem; position: fixed; top: 5rem; right: 0; bottom: 0; left: 0;">

    <div class="d-flex justify-content-center">
      <img src="../static/icons/login-icon.svg" alt="login-icon" style="height: 7rem" />
    </div>

    <div class="text-center fs-1 fw-bold text-success">Login</div>

    <div class="input-group mt-4">
      <div class="input-group-text bg-success">
        <img src="../static/icons/username-icon.svg" alt="username-icon"
          style="height: 1rem" />
      </div>
      <input id="inputEmail" class="form-control bg-light" type="text" placeholder="Usuario" />
    </div>

    <div class="input-group mt-1">
      <div class="input-group-text bg-success">
        <img src="../static/icons/password-icon.svg" alt="password-icon"
          style="height: 1rem" />
      </div>
      <input id="inputcontrasenia" class="form-control bg-light" type="password" placeholder="contraseña" />
    </div>

    <div class="d-flex justify-content-around mt-1">
      <div class="d-flex align-items-center gap-1">
        <div class="pt-1" style="font-size: 0.9rem">
  
        </div>
      </div>
     
    </div>

    <button id="BotonLogin" class="btn btn-success text-white w-100 mt-4 fw-semibold shadow-sm">
      Iniciar Sesion
    </button>

    <div class="d-flex gap-1 justify-content-center mt-4">
      <div>No tienes una cuenta?</div>
      <a href="../templates/registrar.html" class="text-decoration-none text-info fw-semibold">Registrarse</a>
    </div>
   
  </div>
</body>

<script type="text/javascript" src="../static/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


</html>


