<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">


    <title>Home</title>
</head>

<body>
    <!-- Pagina contratista -->
    {% if tipo == "Contratista" %}
        {%include 'NvarContratista.html'%}
        <section class="h-100 text-center">
            <div class="container mt-5 h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-7 col-xl-5 col-lg-7 col-md-9 col-sm-9">
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-12">
                                        <div id="formulario" class="mb-4 m-2">
                                            <h2 class="fw-bold mb-5">Datos personales de {{nombre}} </h2>

                                            <div class="form-outline mb-5">

                                                <div class="row">

                                                    <div class="col-6 mb-2">
                                                        <label class="form-label m-2" for="form3Example3">Nombre
                                                            completo</label>
                                                        <input type="text" name="nombre" class="form-control"
                                                            value="{{nombre}}" readonly />

                                                    </div>

                                                    <div class="col-6 mb-2">
                                                        <label for="email" class="m-2">Email</label>
                                                        <input type="email" class="form-control" name="email"
                                                            value="{{email}}" placeholder="" readonly>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col mb-2">
                                                        <label class="form-label" for="form3Example3">Numero de
                                                            documento</label>
                                                        <input type="number" name="documento" min="4" max="12"
                                                            class="form-control" value="{{numero_documento}}" readonly />

                                                    </div>


                                                    <div class="col mb-2">
                                                        <label class="form-label" for="form3Example3">Dirección</label>
                                                        <input type="text" name="direccion" class="form-control"
                                                            value="{{direccion}}" readonly />

                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-6 mb-2">
                                                        <label class="form-label" for="form3Example3">Celular</label>
                                                        <input type="number" name="numeroCelular" min="4" max="12"
                                                            class="form-control" value={{numero}} readonly />

                                                    </div>

                                                    <div class="col-6 mb-2">
                                                        <label class="form-label" for="form3Example3">
                                                            Ocupaciones</label>
                                                        <input type="text" name="nombre_ocupaciones" class="form-control"
                                                            value="{{ocupacion}}" readonly />
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="mb-4 row justify-content-center">
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <i class="bi bi-pencil-square"></i>
                                                    Actualizar
                                                </button>
                                            </div>

                                            <div class="modal fade " data-bs-backdrop="static" data-bs-keyboard="false"
                                                tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar
                                                            </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-outline mb-5">
                                                                <div class="row">
                                                                    <div class="col-6 mb-2">
                                                                        <label class="form-label m-2"
                                                                            for="form3Example3">Nombre
                                                                            completo</label>
                                                                        <input id="nombre" type="text" name="nombre"
                                                                            class="form-control" value="{{nombre}}" />
                                                                    </div>
                                                                    <div class="col-6 mb-2">
                                                                        <label class="form-label m-2"
                                                                            for="form3Example3">Dirección</label>
                                                                        <input id="direccion" type="text" name="direccion"
                                                                            class="form-control" value="{{direccion}}" />
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 mb-2">
                                                                        <label class="form-label" for="form3Example3">Celular</label>
                                                                        <input id="numeroCelular" type="number"
                                                                            name="numeroCelular" min="4" max="12"
                                                                            class="form-control" value={{numero}} />

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="btn-actuzalizar"
                                                                class="btn btn-success">
                                                                Guardar</button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section: Design Block -->
                <!-- Modal -->


            </div>
            </div>
        </section>

    <!-- Pagina cliente -->
    {% elif tipo == "Cliente" %}
        {%include 'NvarCliente.html'%}

        <section class="h-100 text-center">
            <div class="container mt-5 h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-7 col-xl-5 col-lg-7 col-md-9 col-sm-9">
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-12">
                                        <div id="formulario" class="mb-4 m-2">
                                            <h2 class="fw-bold mb-5">Datos personales de {{nombre}} </h2>

                                            <div class="form-outline mb-5">
                                                <div class="row">
                                                    <div class="col-6 mb-2">
                                                        <label class="form-label m-2" for="form3Example3">Nombre
                                                            completo</label>
                                                        <input type="text" name="nombre" class="form-control text-center"
                                                            value="{{nombre}}" readonly />
                                                    </div>

                                                    <div class="col-6 mb-2">
                                                        <label for="email" class="m-2">Email</label>
                                                        <input type="email" class="form-control text-center" name="email"
                                                            placeholder="" value={{email}} readonly>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col mb-2">
                                                        <label class="form-label" for="form3Example3">Numero de
                                                            documento</label>
                                                        <input type="number" name="documento" min="4" max="12"
                                                            class="form-control text-center" value="{{numero_documento}}"
                                                            readonly />
                                                    </div>


                                                    <div class="col mb-2">
                                                        <label class="form-label" for="form3Example3">Dirección</label>
                                                        <input type="text" name="direccion" class="form-control"
                                                            value="{{direccion}}" readonly />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mb-2">
                                                        <label class="form-label" for="form3Example3">Numero de
                                                            Celular</label>
                                                        <input type="number" name="documento" min="4" max="12"
                                                            class="form-control text-center" value={{numero}} readonly />

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-4 row justify-content-center">
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <i class="bi bi-pencil-square"></i>
                                                    Actualizar
                                                </button>
                                            </div>

                                            <div class="modal fade " data-bs-backdrop="static" data-bs-keyboard="false"
                                                tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar
                                                            </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-outline mb-5">
                                                                <div class="row">
                                                                    <div class="col-6 mb-2">
                                                                        <label class="form-label m-2"
                                                                            for="form3Example3">Nombre
                                                                            completo</label>
                                                                        <input id="nombre" type="text" name="nombre"
                                                                            class="form-control text-center"
                                                                            value="{{nombre}}" />
                                                                    </div>

                                                                    <div class="col-6 mb-2">
                                                                        <label class="form-label m-2"
                                                                            for="form3Example3">Dirección</label>
                                                                        <input id="direccion" type="text" name="direccion"
                                                                            class="form-control text-center"
                                                                            value="{{direccion}}" />
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 mb-2">
                                                                        <label class="form-label" for="form3Example3">Numero
                                                                            de
                                                                            Celular</label>
                                                                        <input id="numeroCelular" type="number"
                                                                            name="numeroCelular" min="4" max="12"
                                                                            class="form-control text-center"
                                                                            value={{numero}} />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="btn-actuzalizar"
                                                                class="btn btn-success">
                                                                Guardar</button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section: Design Block -->

            </div>
            </div>
        </section>

    <!-- Pagina Administrador -->
    {% else %}

    {% endif %}


</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/datos_personales.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</html>