<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/toast.css')}}">

    <title>notificacion</title>
</head>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
    <ul class=flashes>
      {% for category,message in messages %}
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
        style="background-color: #112b70; color:aliceblue;">
        <div class="toast-header">
          <img src="../static/img-home/Image-1.png" class="rounded me-2" alt="...">
          <strong class="me-auto">{{category}}</strong>
          <small>Hace 11 minutos</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <a href="./consultar" style="color: aliceblue; text-decoration: none;">
          <div class="toast-body">
            {{message}}
          </div>
      </div>
      </a>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</main>
    
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/myToast.js')}}"></script>
