
<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- Imagen de fondo principal-->
                <img class="first-slide" src="../static/img-home/Fondo.jfif" alt="First slide">
                <div class="container-caption">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>


    <div class="container marketing mt-5">

        <div class="row">
            <div class="col-lg-4">
                <!-- Imagen 1-->
                <img class="rounded-circle" src="../static/img-home/Image-1.png" alt="Generic placeholder image">
                <h2>Visión</h2>
                <p>Convertinos es un aplicativo web de servicios con referencia a nivel nacional, con el objetivo
                    principal de mejorar las interaciones al momento de solicitar
                    un servicio en especifico.
                </p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!-- Imagen 2-->
                <img class="rounded-circle" src="../static/img-home/Image-2.png" alt="Generic placeholder image"
                    width="140" height="140">
                <h2>Misión</h2>
                <p>Contribuir al crecimiento y desarrollo de los servicios (Albañileria, Electricista, Plomeria) en la
                    ciudad de barranquilla a través del
                    aplicativo de web de servicios para sastifacer las necesidades del cliente con calidad, mediante
                    procesos seguros y grupos de personas calificadas </p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!-- Imagen 3-->
                <img class="rounded-circle" src="../static/img-home/Image-3.png" alt="Generic placeholder image"
                    width="140" height="140">
                <h2>Valores</h2>
                <p>Calidad, Compromiso, Responsabilidad, Unión y Mejora.</p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Plomeria</h2>
                <p class="lead">Plomería es un concepto que se emplea en varios países latinoamericanos para nombrar al
                    trabajo que consiste en instalar, mantener y reparar las tuberías (también conocidas como cañerías).
                </p>
            </div>
            <div class="col-md-5">
                <!-- Imagen 4-->
                <img class="featurette-image img-fluid mx-auto" src="../static/img-home/Image-4.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Carpinteria</h2>
                <p class="lead">Carpintería alude a la actividad, la obra y el lugar de trabajo de un carpintero. Los
                    carpinteros, por su parte, son los individuos que se dedican a trabajar con madera (el sector más
                    sólido de los árboles, que se encuentra recubierto por la corteza).</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- Imagen 5-->
                <img class="featurette-image img-fluid mx-auto" src="../static/img-home/Image-5.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Electricista</h2>
                <p class="lead">Los electricistas instalan y mantienen servicios eléctricos, tales como la iluminación,
                    la electricidad y la calefacción. Trabajan en una amplia gama de edificios, incluyendo casas,
                    oficinas, fábricas, hospitales y centrales eléctricas. Algunos electricistas reparan fallos en
                    instalaciones domésticas y en empresas. Otros reparan equipos eléctricos en industrias
                    manufactureras e ingenieras.</p>
            </div>
            <div class="col-md-5">
                <!-- Imagen 6-->
                <img class="featurette-image img-fluid mx-auto" src="../static/img-home/Image-6.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; 2023 Company, Inc. &middot;
    </footer>
</main>