<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/mostrar_calificacion.css">
    <title>Calificaciones</title>
</head>

<body>
    <!-- {% if tipo == "Contratista" %} -->

    <div id="nvar">

    </div>

    <div id="container" class="container">

        <section class="h-100 text-center">
            <h2 id="tipo_usuario" class="m-3">Perfiles </h2>
            <div class="shadow-sm p-3 mb-5 bg-white rounded" >
                <div class="row" id="perfilesContainer">
                    <!-- Los perfiles se agregarán aquí mediante JavaScript -->
                </div>
            </div>

            <div id="perfil_vacio">

            </div>
        </section>
    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/calificaciones_perfiles.js"></script>
<script type="text/javascript" src="../static/js/perfiles.js"></script>
<script type="text/javascript" src="../static/js/logout.js"></script>
<script type="text/javascript" src="../static/js/validacion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</html>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="exampleModal"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                </h5>
                <input id="radio1" type="radio" name="estrellas" value="5">
                <div class="text-center ms-4 m-2">
                    <h4 id="promedio-calificacion" style="color: rgb(23, 91, 207); display: inline-block;"> </h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal_contenido">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4 contenedor_calificacion d-none">
    <div class="col-sm-8 mx-auto text-center">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"></h6>
                <div class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="4">
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="3">
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="2">
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="1">
                    <label for="radio5">★</label>
                </div>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">

                </small>
            </div>
        </div>
    </div>
</div>